.profile-main-container{
    width: 100vw;
    height: 100vh;
    background: #232234;
}
.profile-left-container{
    width: 29%;
    height: 100%;
    background: #fff;   
    position: relative;
    float: left;
}
.profile-right-container{
    width: 69%;
    height: 100%;
    position: relative;
    float: left;   
}
.photo-container {
    background: #c9c9c9 none repeat scroll 0 0;
    border-radius: 185px;
    height: 160px;
    margin: auto;
    position: relative;
    top: 50px;
    width: 160px;
}
.photo-text {
    float: left;
    font-size: 20px;
    font-weight: bold;
    left: 45px;
    position: relative;
    text-align: center;
    top: 39px;
    width: 75px;
    word-break: break-all;
}

.profile-right-cont-header{
    color: #fff;
    float: left;
    height: 150px;
    position: relative;
    width: 100%;
}

.width-38Perc{
    width: 38%;
}
.inputBoxIcon {
    color: #c9c9c9;
    float: right;
    font-size: 18px;
    position: relative;
    right: 95%;
    top: 9px;
}
.ml0{
margin-left: 0px !important;
}
.width-72Perc{
    width: 72%;
}

.height150px{
    height: 150px !important;
}
.inputBoxIconTextArea {
    bottom: 148px;
    color: #c9c9c9;
    float: left;
    font-size: 18px;
    left: 6px;
    position: relative;
}

.user-detail {
    float: right;
    height: 80px;
    position: relative;
    width: 250px;
    top: 56px;
}
.user-img-sec {
    border-radius: 30%;
    float: left;
    height: 100%;
    position: relative;
    width: 30%;
}
.user-detail-sec {
    float: left;
    height: 100%;
    position: relative;
    width: 70%;
}
.user-img-sec img {
    border-radius: 67%;
    float: left;
    height: 50%;
    left: 30%;
    margin: auto;
    position: relative;
    width: 50%;
}
.collecti-logo-bottom-left {
    float: left;
    left: 15%;
    position: relative;
    top: 185px;
    width: 65%;
}
.profile-pic {
    border-radius: 50%;
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}
.profile-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.profile-role {
    font-weight: 500;
    text-align: center;
}

.balancefeed-cont{
-webkit-box-shadow :10px 10px 8px 0px rgba(192,192,192,0.78);
-moz-box-shadow :10px 10px 8px 0px rgba(192,192,192,0.78); 
box-shadow :10px 10px 8px 0px rgba(192,192,192,0.78);   
    float: left;
    height: 200px;
    position: relative;
    top: 100px;
    width: 110%;
}
.balancefeed-title {
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding-left: 4px;
    position: relative;
    top: 100px;
}
.balancefeed-img {
    height: 100%;
    width: 100%;
}

.page-title-activity {
    float: left;
    font-size: 26px;
    font-weight: bold;
    left: 100px;
    position: relative;
    top: 58px;
}
.createStatement-cont{
    background: #fff none repeat scroll 0 0;
    border-radius: 12px;
    cursor: pointer;
    float: left;
    height: 100px;
    margin-left: 10%;
    padding-top: 15px;
    position: relative;
    text-align: center;
    width: 160px;
}
.createStatement-cont i {
    color: #999;
    font-size: 40px;
}
.add-title {
    font-size: 15px;
    font-weight: bold;
}
.signupNextCls span {
    background: #222233 none repeat scroll 0 0;
    border-radius: 14px;
    color: #fff;
    font-size: 15px;
    font-weight: 400 !important;
    opacity: 1 !important;
    padding: 3px 18px;
    position: relative;
    top: -7px;
}
.signupNextCls {
    opacity: 1 !important;
}
.title-signup {
    color: #313131;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
}
.statement-all-fields{
    margin-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 100%;
}
.conceptDiv {
    border: 1px solid #222233;
    border-radius: 17px;
    color: #222233;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}
.statementRelDiv{
    border: 1px solid #222233;
    border-radius: 17px;
    color: #222233;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;    
}
.statementClickDiv{
    border: 1px solid #222233;
    border-radius: 17px;
    background: #222233;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;  
}

.statementClickDiv i {
    float: right;
    margin-right: 10px;
    position: relative;
    top: 2px;
}
.related-with-div {
    margin-right: 5%;
    position: relative;
    width: 45%;
}
.participent-div {
    bottom: 47px;
    left: 55%;
    position: relative;
    width: 45%;
}
.img-cont-stat-rel-main{
position: relative;
width: 100%;
}
.img-cls-stat {
    border: 1px solid #999;
    border-radius: 18px;
    color: #999;
    height: 30px;
    width: 30px;
}