.profile-main-container{
    width: 100vw;
    height: 100vh;
    background: #232234;
}
.profile-left-container{
    width: 29%;
    height: 100%;
    background: #fff;   
    position: relative;
    float: left;
}
.profile-right-container{
    width: 69%;
    height: 100%;
    position: relative;
    float: left;   
}
.photo-container {
    background: #c9c9c9 none repeat scroll 0 0;
    border-radius: 185px;
    height: 160px;
    margin: auto;
    position: relative;
    top: 50px;
    width: 160px;
}
.photo-text {
    float: left;
    font-size: 20px;
    font-weight: bold;
    left: 45px;
    position: relative;
    text-align: center;
    top: 39px;
    width: 75px;
    word-break: break-all;
}
.pictureOptionSelect {
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    float: left;
    font-size: 15px;
    height: 35px;
    left: 5%;
    padding: 5px;
    position: relative;
    top: 74px;
    width: 90%;
}
.pictureOptionSelect option {
    float: left;
    font-size: 14px;
    height: 35px;
    padding: 10px;
    position: relative;
    width: 100%;
}
.pictureOptionSelect option:hover{
    background: #232234;
    color:#fff;
    box-shadow: 0 0 10px 100px #232234 inset;
}

.pictureOptionSelect option:focusout{
    background: #232234;
    color:#fff;
    box-shadow: 0 0 10px 100px #232234 inset;
}

.profile-right-cont-header{
    color: #fff;
    float: left;
    height: 150px;
    position: relative;
    width: 100%;
}
.inputFieldCont {
    float: left;
    margin-bottom: 26px;
    margin-left: 50px;
    position: relative;
}
.inputFieldCont lable {
    color: #fff;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    width: 100%;
}
.inputFieldCont input {
    border-radius: 5px;
    float: left;
    height: 35px;
    outline: medium none;
    padding-left: 19px;
    position: relative;
    width: 90%;
}
.width-38Perc{
    width: 38%;
}
.inputBoxIcon {
    color: #c9c9c9;
    float: right;
    font-size: 18px;
    position: relative;
    right: 95%;
    top: 9px;
}
.ml0{
margin-left: 0px !important;
}
.width-72Perc{
    width: 72%;
}

.inputFieldCont textarea {
    border-radius: 5px;
    float: left;
    height: 35px;
    outline: medium none;
    padding-left: 27px;
    position: relative;
    width: 100%;
    resize: none;
}
.height150px{
    height: 150px !important;
}
.inputBoxIconTextArea {
    bottom: 148px;
    color: #c9c9c9;
    float: left;
    font-size: 18px;
    left: 6px;
    position: relative;
}
.save-btn-div-cont{
    color: #fff;
    float: left;
    position: relative;
    width: 100%;
}
.saveBtnProfile {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    color: #232234;
    float: right;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 10px;
    position: relative;
    right: 23%;
    top: -15px;
}
.user-detail {
    float: right;
    height: 80px;
    position: relative;
    width: 250px;
    top: 56px;
}
.user-img-sec {
    border-radius: 30%;
    float: left;
    height: 100%;
    position: relative;
    width: 30%;
}
.user-detail-sec {
    float: left;
    height: 100%;
    position: relative;
    width: 70%;
}
.user-img-sec img {
    border-radius: 67%;
    float: left;
    height: 50%;
    left: 30%;
    margin: auto;
    position: relative;
    width: 50%;
}
.collecti-logo-bottom-left {
    float: left;
    left: 15%;
    position: relative;
    top: 57vh;
    width: 65%;
}