.profile-main-container{
    width: 100vw;
    height: 100vh;
    background: #232234;
}
.profile-left-container{
    width: 29%;
    height: 100%;
    background: #fff;   
    position: relative;
    float: left;
}
.profile-right-container{
    width: 69%;
    height: 100%;
    position: relative;
    float: left;   
}
.photo-container {
    background: #c9c9c9 none repeat scroll 0 0;
    border-radius: 185px;
    height: 160px;
    margin: auto;
    position: relative;
    top: 50px;
    width: 160px;
}
.photo-text {
    float: left;
    font-size: 20px;
    font-weight: bold;
    left: 45px;
    position: relative;
    text-align: center;
    top: 39px;
    width: 75px;
    word-break: break-all;
}

.profile-right-cont-header{
    color: #fff;
    float: left;
    height: 150px;
    position: relative;
    width: 100%;
}

.width-38Perc{
    width: 38%;
}
.inputBoxIcon {
    color: #c9c9c9;
    float: right;
    font-size: 18px;
    position: relative;
    right: 95%;
    top: 9px;
}
.ml0{
margin-left: 0px !important;
}
.width-72Perc{
    width: 72%;
}

.height150px{
    height: 150px !important;
}
.inputBoxIconTextArea {
    bottom: 148px;
    color: #c9c9c9;
    float: left;
    font-size: 18px;
    left: 6px;
    position: relative;
}
.save-btn-div-cont{
    color: #fff;
    float: left;
    position: relative;
    width: 100%;
}
.saveBtnProfile {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    color: #232234;
    float: right;
    font-size: 10px;
    font-weight: 700;
    padding: 2px 10px;
    position: relative;
    right: 23%;
    top: -15px;
}
.user-detail {
    float: right;
    height: 80px;
    position: relative;
    width: 250px;
    top: 56px;
}
.user-img-sec {
    border-radius: 30%;
    float: left;
    height: 100%;
    position: relative;
    width: 30%;
}
.user-detail-sec {
    float: left;
    height: 100%;
    position: relative;
    width: 70%;
}
.user-img-sec img {
    border-radius: 67%;
    float: left;
    height: 50%;
    left: 30%;
    margin: auto;
    position: relative;
    width: 50%;
}
.collecti-logo-bottom-left {
    float: left;
    left: 15%;
    position: relative;
    top: 185px;
    width: 65%;
}
.profile-pic {
    border-radius: 50%;
    float: left;
    height: 100%;
    position: relative;
    width: 100%;
}
.profile-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.profile-role {
    font-weight: 500;
    text-align: center;
}
.what-to-do-title {
    color: #fff;
    float: left;
    font-size: 25px;
    font-weight: bold;
    margin-top: 60px;
    position: relative;
    text-align: center;
    width: 100%;
}
.statement-div-cont {
    float: left;
    margin-left: 28%;
    margin-top: 30px;
    position: relative;
    width: 60%;
}
.statement-div {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    height: 56px;
    margin-right: 50px;
    padding: 5px;
    position: relative;
    width: 190px;
    float: left;
    cursor: pointer;
}
.statement-div > div {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 12px;
    width: 83%;
    color: #232234;
    float: left;
}

.arrowWTD {
    font-size: 14px;
    font-weight: 100;
    left: 11px;
    position: relative;
    top: 10px;
}


.statement-div-exist {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    height: 56px;
    margin-right: 50px;
    padding: 5px;
    position: relative;
    width: 190px;
    float: left;
    cursor: pointer;
    
}
.statement-div-exist > div {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    width: 83%;
    color: #232234;
    float: left;
}
.selected-stat{
    background: #909099 !important;
}
.new-satatement-details{
position: relative;
float: left;
width: 60%;
margin-bottom: 20px;
margin-left: 20%;
}
.existing-satatement-details{
    position: relative;
    float: left;
    width: 60%;
    margin-bottom: 20px;
    margin-left: 20%;
}
.ssbn {
    background: #fff none repeat scroll 0 0;
    border-radius: 19px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 29px;
    padding: 5px;
    position: relative;
    width: 60%;
    cursor: pointer;
}
.ssbn i {
    float: right;
    position: relative;
    right: 13px;
    top: 2px;
}
.stbnInput{
    background: #fff none repeat scroll 0 0;
    border-radius: 19px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 29px;
    padding: 5px;
    position: relative;
    width: 60%;  
}

.stbnInputDl option {
    float: left;
    font-size: 14px;
    height: 35px;
    padding: 10px;
    position: relative;
    width: 100%;
}
.stbnInputDl option:hover{
    background: #232234;
    color:#fff;
    box-shadow: 0 0 10px 100px #232234 inset;
}

.stbnInputDl option:focusout{
    background: #232234;
    color:#fff;
    box-shadow: 0 0 10px 100px #232234 inset;
}


.cttof {
    background: #fff none repeat scroll 0 0;
    border-radius: 19px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 29px;
    padding: 5px;
    position: relative;
    width: 60%;
    cursor: pointer;
}
.cttof i {
    float: right;
    position: relative;
    right: 13px;
    top: 2px;
}
.cttofstbnInput{
    background: #fff none repeat scroll 0 0;
    border-radius: 19px;
    float: left;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 29px;
    padding: 5px;
    position: relative;
    width: 60%;  
}

.cttofstbnInputDl option {
    float: left;
    font-size: 14px;
    height: 35px;
    padding: 10px;
    position: relative;
    width: 100%;
}
.cttofstbnInputDl option:hover{
    background: #232234;
    color:#fff;
    box-shadow: 0 0 10px 100px #232234 inset;
}

.cttofstbnInputDl option:focusout{
    background: #232234;
    color:#fff;
    box-shadow: 0 0 10px 100px #232234 inset;
}
.balancefeed-cont{
-webkit-box-shadow :10px 10px 8px 0px rgba(192,192,192,0.78);
-moz-box-shadow :10px 10px 8px 0px rgba(192,192,192,0.78); 
box-shadow :10px 10px 8px 0px rgba(192,192,192,0.78);   
    float: left;
    height: 200px;
    position: relative;
    top: 100px;
    width: 110%;
}
.balancefeed-title {
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding-left: 4px;
    position: relative;
    top: 100px;
}
.balancefeed-img {
    height: 100%;
    width: 100%;
}